:root {
  --fg: light-dark(#444, #e3e3e3);
  --fg-alt: light-dark(#73777a, #979797);
  --pin: light-dark(#73777a, #979797);
  --pin-alt: light-dark(#0092ff, #0092ff);
  --bg: light-dark(#fff, #202124);
  --bg-alt: light-dark(rgba(0, 0, 0, 0.05), #333644);
}
html {
  margin: 0;
  padding: 0;
  height: 100%;
  color-scheme: light dark;
}
body {
  font-family: sans-serif;
  margin: 0;
  background-color: var(--bg);
  width: 600px;
  max-height: 600px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  scrollbar-color: var(--bg-alt) var(--bg);
}

body,
table,
button {
  font-size: 14px;
  line-height: 1.5;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: var(--fg);
}
table {
  vertical-align: middle;
  border-collapse: collapse;
  width: 100%;
}
h1 {
  font-size: 100%;
  margin: 0 5px 5px 0;
  display: inline-block;
}
p {
  margin: 0;
}
a {
  text-decoration: none;
}

select,
input[type=button] {
  border: none;
  padding: 8px 10px;
  margin: 0;
  cursor: pointer;
  outline: none;
  color: var(--fg);
  background-color: var(--bg);
}
input[type=button]:active {
  color: #888;
}
input[type=button]:disabled {
  opacity: 0.5;
}
select {
  outline: none;
}

#profiles {
  display: grid;
  grid-template-columns: min-content 1fr repeat(3, min-content);
  padding: 10px;
  grid-gap: 5px;
  background: var(--bg-alt);
  align-items: center;
}

#addons {
  overflow: auto;
}
#addons tr {
  height: 50px;
  cursor: pointer;
  user-select: none;
}
#addons tr:first-child {
  display: none;
}
#addons tr:nth-child(odd) {
  background: rgba(0, 0, 0, 0.05);
}
#addons td:first-child {
  width: 52px;
  background: url("default.png") center center no-repeat;
  background-size: 32px 32px;
}
#addons tr[data-enabled=false] td:nth-child(2),
#addons tr[data-enabled=false] td:nth-child(4) {
  opacity: 0.7;
}
#addons tr[data-enabled=false] td:first-child {
  filter: contrast(80%) grayscale(100%);
}
#addons td:last-child {
  padding-right: 10px;
}
#addons tr[data-enabled=false] [data-type=name] {
  color: var(--fg-alt);
}
#addons [data-type=description] {
  font-size: 90%;
  color: var(--fg-alt);
  display: block;
  padding-bottom: 5px;
}
#addons [data-type="version"] {
  font-size: 80%;
}

#loader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
body[data-status=loading] #loader {
  display: flex;
  flex: 1;
  background: url("loading.gif") center center no-repeat;
}

.button {
  cursor: pointer;
}
.button::after {
  font-family: "fontello";
  margin-left: 10px;
}
tr[data-enabled=false] .button::after {
  content: '\e800';
}
[data-string] {
  pointer-events: none;
}
tr[data-enabled=false] [data-string=enabled] {
  display: none;
}
tr[data-enabled=true] .button::after {
  content: '\e801';
}
tr[data-enabled=true] [data-string=disabled] {
  display: none;
}
tr[data-locked=true] {
  opacity: 0.5;
  pointer-events: none;
}

footer {
  font-size: 12px;
  background-color: var(--bg-alt);
  padding: 10px;
  color: var(--fg);
  display: grid;
  grid-gap: 2ch;
  grid-template-columns: min-content min-content min-content 1fr min-content;
  white-space: nowrap;
  align-items: center;
}
footer a,
footer a:visited {
  color: var(--fg);
}
footer a:hover {
  text-decoration: underline;
}

.pin {
  width: 32px;
  text-align: center;
  align-items: center;
  fill: var(--pin);
}
.pin svg {
  pointer-events: none;
  margin-top: 10px;
}
tr[data-pinned=true] .pin svg {
  fill: var(--pin-alt);
}
